spring:
  application:
    name: splitwise

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:default}

  datasource:
    # Local por defecto (H2)
    url: ${DATABASE_URL:jdbc:h2:mem:splitwise;DB_CLOSE_DELAY=-1}
    driver-class-name: ${DB_DRIVER:org.h2.Driver}
    username: ${DB_USER:sa}
    password: ${DB_PASSWORD:}

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: ${PORT:8080}

spring.thymeleaf:
  cache: false
  prefix: classpath:/templates/
  suffix: .html

---
# ==========================
# PERFIL PRODUCCIÓN (Render)
# ==========================
spring:
  config:
    activate:
      on-profile: prod

  datasource:
    # Usa DATABASE_URL automáticamente (postgres://...)
    url: ${DATABASE_URL}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update   # después podés pasar a validate
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  h2:
    console:
      enabled: false
